{% extends 'base.html.twig' %}

{% block title %}Modification du membre{% endblock %}

{% block body %}
    <body style="background-color: #aec5bb;">
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>

    <h1 class="text-center mt-5"> Modification de l'utilisateur </h1>

    {#affichage des messages flash#}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {#pour la classe alert danger de bootstrap#}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2 text-center">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8 mx-auto text-center">
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.role) }}
            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a href="{{ path('app_admin_membre_index') }}" class="btn btn-outline-secondary">
                    Retour
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</body>
{% endblock %}


