{% extends 'base.html.twig' %}

{% block title %}Gestion des membres{% endblock %}

{% block body %}
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>

    <h1 class="text-center mt-5">List des membres</h1>

    <table class="table table-striped mt-3">
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>Rôle</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_admin_membre_edit', {'id': user.id}) }}">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_membre_delete', {'id': user.id}) }}" class="btn btn-delete btn-danger btn-sm">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
