{% extends 'base.html.twig' %}
{% block title %}Mes expositions!{% endblock %}
{% block body %}
    <body style="background-image: linear-gradient(to right top, #9f84a3, #9496b3, #91a5b8, #9cb2b9, #afbcbb);">
      {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>

        <h3 class="text-center mt-5 h3-bio">Mes expositions</h3>

        {% for article in articles %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <div class="card">
                        <img class="card-img-top" src="{{ article.image }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.titre }}</h5>
                            <p class="card-text pb-5 mt-1">{{ article.description}}</p>
                            <p class="card-footer">
                               Lieu : {{ article.lieu }} à {{ article.horaire }}
                                commence le {{ article.dateDebut|date('d/m/y')}},
                                fini le {{ article.dateFin|date('d/m/y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
{% endblock %}
