{% extends 'base.html.twig' %}

{% block title %}Catégorie d'articles{% endblock %}

{% block body %}
        {# NAV  #}
<div class="menu">
    <div class="bar"></div>
</div>
<div class="overlay"></div>
<header>
    {% include 'nav.html.twig' %}
</header>
{% for article in articles %}
    {% if category.id == 2 %}
        <h1 class="text-center mt-5">{{ category.name }}</h1>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8 col-sm-12 mx-auto text-center">
                    <div class="card text-center">
                        {% if article.image is defined %}
                            <img class="card-img-top img-fluid" src="{{ asset('images/article/' ~ article.image) }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.titre }}</h5>
                            <p class="card-text pb-5 mt-1">{{ article.contenu}}</p>
                            <p class="card-footer">
                                Lieu : {{ article.lieu }}  {{ article.horaire }}
                                commence le {{ article.dateDebut|date('d/m/y')}},
                                fini le {{ article.dateFin|date('d/m/y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elseif category.id == 1 %}
        <h1 class="text-center mt-5">{{ category.name }}</h1>
        <div class="container mt-4">
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <div class="card">
                        {% if article.image is defined %}
                            <img class="card-img-top" src="{{ asset('images/article/' ~ article.image) }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.titre }}</h5>
                            <p class="card-text pb-5 mt-1">{{ article.contenu}}</p>
                            <p class="card-footer">
                                Lieu : {{ article.lieu }} à {{ article.horaire }}
                                commence le {{ article.dateDebut|date('d/m/y')}},
                                fini le {{ article.dateFin|date('d/m/y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <h1 class="text-center mt-5">{{ category.name }}</h1>
        <div class="container mt-4">
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <div class="card">
                        {% if article.image is defined %}
                            <img class="card-img-top" src="{{ asset('images/article/' ~ article.image) }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.titre }}</h5>
                            <p class="card-text pb-5 mt-1">{{ article.contenu}}</p>
                            <p class="card-footer">
                                Lieu : {{ article.lieu }} à {{ article.horaire }}
                                commence le {{ article.dateDebut|date('d/m/y')}},
                                fini le {{ article.dateFin|date('d/m/y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
