{% extends 'base.html.twig' %}

{% block body %}
    {# NAVf  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <p class="text-center mt-2 paragraphe-acceuil">L'Artiste</p>
                    {% if biographie is not null %}
                    <img src="{{ asset('images/biographie/') }}{{ biographie.photo }}"
                         alt="Photo artiste"
                         class="img-thumbnail ml-5">
                    <p class="float-left"><span>{{ biographie.presentation }}</p>
                    {% endif %}
                    {% if  is_granted('ROLE_ADMIN')%}
                        <a class="btn btn-primary right marginbtnedit" href="{{ path('app_admin_biographie_edit') }}">
                            Modifier
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="bd-example">
                        <div id="carouselExampleCaptions" class="carousel slide mt-5" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                {# Insertion de l'ensemble des tableaux dans le carrousel avec un test pour le premier
                                élément afin de désigner le premier tableau du carrousel (active) #}
                                {% for tableau in tableauxCarrousel %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <a href="/tableau/{{ tableau.id }}">
                                            <img src="{{ asset('images/galerie/') }}{{ tableau.image }}"
                                                 class="d-block w-100"
                                                 alt="{{ tableau.titre }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <p class="text-center mt-2 paragraphe-acceuil">Ma sélection</p>
                    <div class="tableau">
                        <div>
                            <div class="text-center">
                                <a class="btn-tableau-content" href="/tableau/{{ selectionA.id }}">
                                    <img src="{{ asset('images/galerie/')~selectionA.image }}" class="rounded" alt="{{ selectionA.titre }}">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="text-center">
                                <a class="btn-tableau-content" href="/tableau/{{ selectionB.id }}">
                                    <img src="{{ asset('images/galerie/')~selectionB.image }}" class="rounded" alt="{{ selectionB.titre }}">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="text-center">
                                <a class="btn-tableau-content" href="/tableau/{{ selectionC.id }}">
                                    <img src="{{ asset('images/galerie/')~selectionC.image }}" class="rounded" alt="{{ selectionC.titre }}">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="text-center">
                                <a class="btn-tableau-content" href="/tableau/{{ selectionD.id }}">
                                    <img src="{{ asset('images/galerie/')~selectionD.image }}" class="rounded" alt="{{ selectionD.titre}}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------------------------------------------
                                DEBUT MODAL
        --------------------------------------------------------------------->
        <div class="modal" tabindex="-1" role="dialog" id="modal-tableau-content">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                        <a class="btn btn-primary" href="#" role="button">Link</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary close-modal" data-dismiss="modal">
                            Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------------------------------------------
                        FIN MODAL
--------------------------------------------------------------------->
    </header>
    {% include 'footer.html.twig' %}

{% endblock %}