{% extends 'base.html.twig' %}

{% block body %}
    {# NAVf  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <p class="text-center mt-2 paragraphe-acceuil">L'Artiste</p>
                    <img src="{{ asset('images/biographie/') }}{{ biographie.photo }}"
                         alt="Photo artiste"
                         class="img-thumbnail">
                    <p class="float-left"><span>{{ biographie.presentation }}</span></p>
                    {% if  is_granted('ROLE_ADMIN')%}
                        <a class="btn btn-primary right marginbtnedit" href="{{ path('app_admin_biographie_edit') }}">
                            Modifier
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="carouselExampleSlidesOnly" class="carousel slide mt-5 " data-ride="carousel">
                        <div class="carousel-inner">
                            {# Insertion de l'ensemble des tableaux dans le carrousel avec un test pour le premier
                            élément afin de désigner le premier tableau du carrousel (active) #}
                            {% for tableau in tableauxCarrousel %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ asset('images/galerie/') }}{{ tableau.image }}"
                                     class="d-block w-100"
                                     alt="{{ tableau.titre }}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <p class="text-center mt-2 paragraphe-acceuil">Tableaux</p>
                    <div class="tableau">
                        <div class="a"></div>
                        <div class="b"></div>
                        <div class="c"></div>
                        <div class="d"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-----------------------------------------------------------------
                                END SLIDER
    ------------------------------------------------------------------->
    {% include 'footer.html.twig' %}

{% endblock %}