{% extends 'base.html.twig' %}

{% block body %}
        {# NAV  #}
        {% if is_granted('ROLE_USER') %}
            <div class="menu">
                <div class="bar"></div>
            </div>
            <div class="overlay"></div>
            <header>
                <nav>
                    <ul>
                        <li class="nav item">
                            <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Accueil">Accueil</a>
                        </li>

                        <li class="nav item">
                            <a href="{{ path('app_biographieshow_show') }}" class="nav-link" data-text="Bio">Bio</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Blog">Blog</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Gallerie">Galerie</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Expo">Expo</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Presse">Presse</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Contact">Contact</a>
                        </li>
                    <div class="separator"></div>

                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" id="menuadmin" role="button" data-toggle="dropdown" data-text="Admin"><i class="fas fa-user-shield"></i>Admin</a>
                            <div class="dropdown-menu" aria-labelledby="menuadmin">
                                <a class="dropdown-item" href="">Gestion</a>
                                <a class="dropdown-item" href="">Gestion</a>
                                <a class="dropdown-item" href="">Gestion</a>
                                <a class="dropdown-item" href="">Gestion</a>
                            </div>
                        </li>

                        <li class="nav item">
                            <a href="{{ path('app_security_logout') }}" class="nav-link" data-text="Deconnexion"><i class="fab fa-wpforms"></i>Deconnexion</a>
                        </li>
                    </ul>
                </nav>

                {# NAV USER #}
            {% elseif is_granted('ROLE_USER') %}
                <div class="menu">
                    <div class="bar"></div>
                </div>
            <div class="overlay"></div>
            <header>
                <nav>
                    <ul>
                        <li class="nav item">
                            <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Accueil">Accueil</a>
                        </li>

                        <li class="nav item">
                            <a href="{{ path('app_biographieshow_show') }}" class="nav-link" data-text="Bio">Bio</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Blog">Blog</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Gallerie">Gallerie</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Expo">Expo</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Presse">Presse</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Contact">Contact</a>
                        </li>
                        <div class="separator"></div>

                        <li class="nav item">
                            <a href="{{ path('app_security_register') }}" class="nav-link" data-text="Deconnexion"><i class="fab fa-wpforms"></i>Deconnexion</a>
                        </li>
                    </ul>
                </nav>

            {% else %}
            <div class="menu">
                <div class="bar"></div>
            </div>
            <div class="overlay"></div>
            <header>
                <nav>
                    <ul>
                        <li class="nav item">
                            <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Home">Home</a>
                        </li>

                        <li class="nav item">
                            <a href="{{ path('app_biographieshow_show') }}" class="nav-link" data-text="Bio">Bio</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Blog">Blog</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Galerie">Galerie</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Expo">Expo</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Presse">Presse</a>
                        </li>

                        <li class="nav item">
                            <a href="" class="nav-link" data-text="Contact">Contact</a>
                        </li>
                        <div class="separator"></div>

                        <li class="nav item">
                            <a href="{{ path('app_security_login') }}" class="nav-link" data-text="Connexion"><i class="fas fa-sign-in-alt"></i>Connexion</a>
                        </li>

                        <li class="nav item">
                            <a href="{{ path('app_security_register') }}" class="nav-link" data-text="Inscription"><i class="fab fa-wpforms"></i>Inscription</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        <!------------------------------------------------------------
                                START SLIDER
        --------------------------------------------------------------->
                <!------------------------------------------------------------
                                START SLIDER
        --------------------------------------------------------------->
                <div id="slider">
                    <ul class="slides">
                        <li class="slide"><img src="images/dylan-mcleod-564445-unsplash.jpg" alt=""></li>
                        <li class="slide"><img src="images/tamara.jpg" alt=""></li>
                        <li class="slide"><img src="images/sea.jpg" alt=""></li>
                        <li class="slide"><img src="images/frankie-cordoba-557829-unsplash.jpg" alt=""></li>
                        <li class="slide"><img src="images/11624687-1-lightblue.jpg" alt=""></li>
                    </ul>
                </div>
            </header>
                <!-----------------------------------------------------------------
                                            END SLIDER
                ------------------------------------------------------------------->

                <!------------------------------------------------------------
                                            START MAIN
                --------------------------------------------------------------->
                <main>
                    <div class="containner">
                        <div class="resume">
                            <div class="image">
                                <img class="img-fluid" src="images/tamara.jpg" alt="">
                            </div>
                            <div class="para">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dignissimos doloremque facere iste laudantium sapiente sed vitae. Cumque earum incidunt ipsam itaque nihil porro repellat repudiandae rerum veritatis vitae! Alias, aliquid beatae blanditiis consequuntur debitis eum fuga fugit hic in inventore ipsum itaque laboriosam minus neque nesciunt nisi nobis non numquam quibusdam, quod repudiandae sed tempore vel. Consectetur, mollitia? Aliquam eos iure obcaecati perferendis reprehenderit veniam. A, ab adipisci aliquid aspernatur, assumenda atque consequatur corporis culpa eaque ex facilis in maxime minima nihil nostrum nulla placeat sint soluta vel!</p>
                            </div>
                        </div>
                        <div class="pic">
                            <div class="p"></div>
                            <div class="m"></div>
                            <div class="l"></div>
                            <div class="p"></div>
                        </div>
                    </div>
                </main>

                <!------------------------------------------------------------
                                            END MAIN
                --------------------------------------------------------------->
        <!-----------------------------------------------------------------
                                    END SLIDER
        ------------------------------------------------------------------->



{% endblock %}

