{% extends 'base.html.twig' %}

{% block body %}
    <header>
        {# NAV ADMIN #}
        {% if is_granted('ROLE_ADMIN') %}
        <div class="menu">
            <div class="bar"></div>
        </div>
        <div class="overlay"></div>
        <header>
            <div class="menu">
                <div class="bar"></div>
            </div>
            <div class="overlay"></div>
            <nav>
                <ul>

                    <li class="nav item">
                        <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Accueil">Accueil</a>
                    </li>
                    <li class="nav item">
                        <a href="{{ path('app_admin_biographie_show') }}" class="nav-link" data-text="Bio">Bio</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Blog">Blog</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Gallerie">Gallerie</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Expo">Expo</a>
                    </li>

                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Presse">Presse</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Contact">Contact</a>
                    </li>

                    <div class="separator"></div>

                    <li class="nav item">
                        <a href="{{ path('app_security_login') }}" class="nav-link" data-text="Connexion"><i class="fas fa-sign-in-alt"></i>Gestion Admin</a>
                        {# Menu dropdown a faire#}
                    </li>

                    <li class="nav item">
                        <a href="{{ path('app_security_logout') }}" class="nav-link" data-text="Inscription"><i class="fab fa-wpforms"></i>Déconnexion</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        <div class="menu">
            <div class="bar"></div>
        </div>
        <div class="overlay"></div>
        <header>
            <div class="menu">
                <div class="bar"></div>
            </div>
            <div class="overlay"></div>
            <nav>
                <ul>

                    <li class="nav item">
                        <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Accueil">Accueil</a>
                    </li>
                    <li class="nav item">
                        <a href="{{ path('app_admin_biographie_show') }}" class="nav-link" data-text="Bio">Bio</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Blog">Blog</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Gallerie">Gallerie</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Expo">Expo</a>
                    </li>

                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Presse">Presse</a>
                    </li>
                    <li class="nav item">
                        <a href="" class="nav-link" data-text="Contact">Contact</a>
                    </li>

                    <div class="separator"></div>

                    <li class="nav item">
                        <a href="{{ path('app_security_login') }}" class="nav-link" data-text="Connexion"><i class="fas fa-sign-in-alt"></i>Connexion</a>
                    </li>
                    <li class="nav item">
                        <a href="{{ path('app_security_register') }}" class="nav-link" data-text="Inscription"><i class="fab fa-wpforms"></i>Inscription</a>
                    </li>
                </ul>
            </nav>
        <!------------------------------------------------------------
                                START SLIDER
        --------------------------------------------------------------->
            <div id="slider">
                <ul class="slides">
                    <li class="slide"><img src="images/dylan-mcleod-564445-unsplash.jpg" alt=""></li>
                    <li class="slide"><img src="images/tamara.jpg" alt=""></li>
                    <li class="slide"><img src="images/sea.jpg" alt=""></li>
                    <li class="slide"><img src="images/frankie-cordoba-557829-unsplash.jpg" alt=""></li>
                    <li class="slide"><img src="images/11624687-1-lightblue.jpg" alt=""></li>
                </ul>
            </div>
        <!-----------------------------------------------------------------
                                    END SLIDER
        ------------------------------------------------------------------->
    </header>
            <!------------------------------------------------------------
                                        START MAIN
            --------------------------------------------------------------->
<main>
    <div class="containner">
        <div class="resume">
            <div class="image">
                <img src="images/tamara.jpg" alt="">
            </div>
            <div class="para">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dignissimos doloremque facere iste laudantium sapiente sed vitae. Cumque earum incidunt ipsam itaque nihil porro repellat repudiandae rerum veritatis vitae!</span><span>Alias, aliquid beatae blanditiis consequuntur debitis eum fuga fugit hic in inventore ipsum itaque laboriosam minus neque nesciunt nisi nobis non numquam quibusdam, quod repudiandae sed tempore vel. Consectetur, mollitia?</span><span>Aliquam eos iure obcaecati perferendis reprehenderit veniam. A, ab adipisci aliquid aspernatur, assumenda atque consequatur corporis culpa eaque ex facilis in maxime minima nihil nostrum nulla placeat sint soluta vel!</span><span>Et, facilis itaque officia porro quisquam tenetur totam! Animi atque aut autem blanditiis cupiditate doloremque eaque earum explicabo harum, id provident quam qui quibusdam repellendus reprehenderit suscipit velit vero voluptatum.</span><span>Eligendi exercitationem magni nesciunt rerum? Aliquid illum itaque nobis nulla, obcaecati pariatur quis repellat voluptatibus. Cupiditate facere iusto maxime rerum veritatis. Aliquid dolorem error eum, itaque magnam sed tempore voluptate.</span><span>Aspernatur cupiditate dignissimos ducimus eius inventore ipsam labore magni necessitatibus nesciunt, qui. Aspernatur assumenda eos hic impedit magni molestias natus optio pariatur quasi reiciendis, rerum sapiente sequi suscipit, voluptas voluptate.</span><span>Aliquid assumenda doloremque, ea enim id laboriosam minima nobis quasi rem rerum similique veritatis! Blanditiis consectetur ea, eius esse exercitationem illo minima non odio quae quod saepe tempora ut voluptas.</span><span>Ad alias aliquid amet assumenda at, beatae consequatur culpa earum eligendi excepturi incidunt magnam, placeat quasi reiciendis sint voluptas voluptate. Expedita facilis hic incidunt, maiores maxime non quae veniam. Corporis?</span></p>
            </div>
        </div>
        <div class="pic">
            <div class="p"></div>
            <div class="m"></div>
            <div class="l"></div>
            <div class="p"></div>
        </div>
    </div>
</main>

            <!------------------------------------------------------------
                                        END MAIN
            --------------------------------------------------------------->
{% endblock %}

