{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaires du tableau "{{ tableau.titre }}"</h1>

    <table class="table">
        <tr>
            <th>Utilisateur</th>
            <th>Contenu</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for comment in tableau.comments %}
            <tr>
                <td>{{ comment.user }}</td>
                <td>{{ comment.contenu|nl2br }}</td>
                <td>{{ comment.datePublication|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_delete', {'id': comment.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}