{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <nav>
            <ul>
                <li class="nav item">
                    <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Home">Home</a>
                </li>

                <li class="nav item">
                    <a href="{{ path('app_biographieshow_show') }}" class="nav-link" data-text="Biographie">Biographie</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Blog">Blog</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Galerie">Galerie</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Exposition">Exposition</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Presse">Presse</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Contact">Contact</a>
                </li>

                <div class="separator"></div>

                <li class="dropdown">
                    <button class="btn dropdown-toggle" style="color: mediumpurple;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Gestion tableau</button>
                        <button class="dropdown-item" type="button">Gestion Catégories</button>
                        <button class="dropdown-item" type="button">Gestion Membre</button>
                        <button class="dropdown-item" type="button">Gestion commentaires</button>
                    </div>
                </li>

                <li class="nav item">
                    <a href="{{ path('app_security_logout') }}" class="nav-link" data-text="Deconnexion"><i class="fab fa-wpforms"></i>Deconnexion</a>
                </li>
            </ul>
        </nav>

        {# NAV USER #}
    {% elseif is_granted('ROLE_USER') %}
        <nav>
            <ul>
                <li class="nav item">
                    <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Home">Home</a>
                </li>

                <li class="nav item">
                    <a href="{{ path('app_biographieshow_show') }}" class="nav-link" data-text="Biographie">Biographie</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Blog">Blog</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Galerie">Galerie</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Exposition">Exposition</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Presse">Presse</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Contact">Contact</a>
                </li>

                <div class="separator"></div>

                <li class="nav item">
                    <a href="{{ path('app_security_register') }}" class="nav-link" data-text="Deconnexion"><i class="fab fa-wpforms"></i>Deconnexion</a>
                </li>
            </ul>
        </nav>

    {% else %}
        <nav>
            <ul>
                <li class="nav item">
                    <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Home">Home</a>
                </li>

                <li class="nav item">
                    <a href="{{ path('app_biographieshow_show') }}" class="nav-link" data-text="Biographie">Biographie</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Blog">Blog</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Galerie">Galerie</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Exposition">Exposition</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Presse">Presse</a>
                </li>

                <li class="nav item">
                    <a href="" class="nav-link" data-text="Contact">Contact</a>
                </li>

                <div class="separator"></div>

                <li class="nav item">
                    <a href="{{ path('app_security_login') }}" class="nav-link" data-text="Connexion"><i class="fas fa-sign-in-alt"></i>Connexion</a>
                </li>

                <li class="nav item">
                    <a href="{{ path('app_security_register') }}" class="nav-link" data-text="Inscription"><i class="fab fa-wpforms"></i>Inscription</a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}