<h1>{{ tableau }}</h1>
<p>
    Par {{ tableau.titre }},
    <em>{{ tableau.publicationDate|date('d/m/Y') }}</em><br>
    <strong>
        Dans <a href="{{ path('app_tableau_index', {'id': tableau.id}) }}">
            {{ tableau }}
        </a>
    </strong>
</p>

{% if tableau.image is not null %}
    <div class="text-center">
        <img src="{{ asset('images/' ~ tableau.image) }}" width="100%">
    </div>
{% endif %}

<p>{{ tableau.technique|nl2br }}</p>x
<p>{{ tableau.description }}</p>