{% extends 'base.html.twig' %}

{% block body %}
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>
    <body>
        <h1>Edition des articles</h1>

        {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.contenu) }}
        {{ form_row(form.image) }}
        {{ form_row(form.category) }}
        {{ form_row(form.lieu) }}
        {{ form_row(form.horaire) }}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
        </div>
        {{ form_end(form) }}

    </body>
{% endblock %}