{% extends 'base.html.twig' %}

{% block body %}
 <body style="background-color: #e6e6e6;">
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto text-center">
                <h1 class="text-center py-2">Edition des articles</h1>
                {{ form_start(form) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.contenu) }}
                {{ form_row(form.image) }}
                {{ form_row(form.category) }}
                {{ form_row(form.lieu) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
                {{ form_row(form.horaire) }}
        <div class="text-right">
            <button type="submit" class="contact75-form-btn mx-auto ml-3"><i class="far fa-edit"></i>
                Enregistrer
            </button>
        </div>
        {{ form_end(form) }}
            </div>
        </div>
    </div>
</body>
{% endblock %}