{% extends 'base.html.twig' %}

{% block body %}
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>
    <div class="container mt-3">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h1 class="text-center mt-5">Liste des Articles</h1>
    <table class="table table-striped mt-5">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.datePublication|date('d/m/Y') }}</td>
                <td>{{ article.category }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_admin_article_edit', {'id': article.id}) }}">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_article_delete', {'id': article.id}) }}" class="btn btn-delete btn-danger btn-sm">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
            </div>
        </div>
    </div>
{% endblock %}