<h1 class="text-center">{{ tableau.titre }}</h1>

{% if tableau.image is not null %}
    <div class="text-center">
        <img src="{{ asset('images/galerie/' ~ tableau.image) }}" class="img-modal">
    </div>
{% endif %}

<div class="container">
        <div>
            <h5 class="text-center mt-2">Technique utilisée</h5>
            <p class="text-center">{{ tableau.technique|nl2br }}</p>
        </div>
        <div>
            <h5 class="text-center">Dimension</h5>
            <p class="text-center">{{ tableau.format }}</p>
        </div>
    <a class="btn btn-primary float-right" href="{{ path('app_tableau_showtableau', {'id': tableau.id}) }}">En Savoir plus</a>
</div>