{% extends 'base.html.twig' %}
{% block title %}Tableau : {{ tableau.getTitre }}{% endblock %}
{% block body %}
      {# NAV  #}
<div class="menu">
    <div class="bar"></div>
</div>
<div class="overlay"></div>
<header>
    {% include 'nav.html.twig' %}
</header>
    <h1>{{ tableau }}</h1>
    <p>
        Par {{ tableau.titre }},
        <em>{{ tableau.publicationDate|date('d/m/Y') }}</em><br>
        <strong>
            Dans <a href="{{ path('app_tableau_index', {'id': tableau.id}) }}">
                {{ tableau }}
            </a>
        </strong>
    </p>

    {% if tableau.image is not null %}
        <div class="text-center">
            <img src="{{ asset('images/' ~ tableau.image) }}" width="100%">
        </div>
    {% endif %}

    <p>{{ tableau.technique|nl2br }}</p>x
    <p>{{ tableau.description }}</p>
<div>
    <h3 class="text-center mt-5 h3-bio">{{ tableau.getTitre }}</h3>
    <p>
        <img src="{{ asset('images/galerie/' ~ tableau.image) }}"><br>
        {{ tableau.getAnnee }}<br>
        {{ tableau.getTechnique }}<br>
        {{ tableau.getFormat }}<br>
        {{ tableau.getDescription|nl2br }}<br>
    </p>

    {% if app.user is null %}
        <div class="alert alert-info">
            Vous devez être connecté pour publier un commentaire.
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Envoyer
            </button>
        </div>
        {{ form_end(form) }}
    {% endif %}

    {% for comment in tableau.comments %}
        <h5>
            {{ comment.user }}
            <small>{{ comment.datePublication|date('d/m/Y H:i') }}</small>
        </h5>
        <div class="card bg-light mb-3">
            <div class="card-body">
                {{ comment.contenu|nl2br }}
            </div>
        </div>
    {% else %}
        <p>Aucun commentaire pour cet article.</p>
    {% endfor %}

</div>
{% endblock %}
