{% extends 'base.html.twig' %}
{% block title %}Tableau : {{ tableau.getTitre }}{% endblock %}
{% block body %}
      {# NAV  #}
<div class="menu">
    <div class="bar"></div>
</div>
<div class="overlay"></div>
<header>
    {% include 'nav.html.twig' %}
</header>
<div>
    <h3 class="text-center mt-5 h3-bio">{{ tableau.getTitre }}</h3>
    <div>
        <p class="text-center">
            <img src="{{ asset('images/galerie/' ~ tableau.image) }}" class="img-tableau mt-3">
        </p>
        <p class="text-center p-tableau">{{ tableau.getAnnee }}</p>
        <p class="text-center p-tableau">{{ tableau.getTechnique }}</p>
        <p class="text-center p-tableau">{{ tableau.getFormat }}</p>
        <p class="text-center p-tableau">{{ tableau.getDescription|nl2br }}</p>
    </div>

    {% if app.user is null %}
        <div class="text-center alert alert-info">
            Pour publier un commentaire vous devez <a href="{{ path('app_security_register') }}">vous inscrire</a> ou <a href="{{ path('app_security_login') }}">vous connecter</a>.
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Envoyer
            </button>
        </div>
        {{ form_end(form) }}
    {% endif %}

    {% for comment in tableau.comments %}
        <h5>
            {{ comment.user }}
            <small>{{ comment.datePublication|date('d/m/Y H:i') }}</small>
        </h5>
        <div class="card bg-light mb-3">
            <div class="card-body">
                {{ comment.contenu|nl2br }}
    {% else %}
        <p class="text-center">Aucun commentaire pour cet article.</p>
    {% endfor %}
            </div>
        </div>

</div>
{% endblock %}
