{% extends 'base.html.twig' %}
{% block title %}{{ article.getTitre }}{% endblock %}
{% block body %}
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>

    {% if  is_granted('ROLE_ADMIN')%}
        <a class="btn btn-primary right marginbtnedit" href="/admin/article/edition/{{ article.id}}">
            Modifier
        </a>
    {% endif %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto text-center">
                <div class="card text-center">
                    {% if article.image is not empty %}
                        <img class="card-img-top img-fluid" src="{{ asset('images/article/' ~ article.image) }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <p class="card-text mt-1">{{ article.contenu}}</p>
                        <p class="card-footer">
                            Lieu : {{ article.lieu }} à {{ article.horaire }}
                            commence le {{ article.dateDebut|date('d/m/y')}},
                            fini le {{ article.dateFin|date('d/m/y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}